<a href="https://colab.research.google.com/github/jshrma14/Google_colab_python/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Robot distance problem
import math

UP = 5
DOWN= 3
LEFT= 3
RIGHT= 2

x1 = 0
y1 = 0

x2 = UP - DOWN
y2 = RIGHT - LEFT

print(round(math.sqrt((x2-x1)**2 + (y2-y1)**2),2))

2.24

In [ ]:
# To find specific data

def company_search(lst, low, high, val):


	if high >= low:

		mid = (high + low) // 2

		if lst[mid] == val:
			return mid

		
		elif lst[mid] > val:
			return binary_search(lst, low, mid - 1, val)

		else:
			return binary_search(lst, mid + 1, high, val)

	else:
		return False

#Comapany data

data = [ 22, 30, 45, 60, 400 ]
val = 45

result = company_search(data, 0, len(data)-1, val)

if result != False:
	print("Data is present at index", str(result))
else:
	print("Data is not present in List")

Data is present at index 2

In [22]:
import time

# Getting present hour

current_time = time.asctime(time.localtime())
print(current_time)

hour = time.localtime().tm_hour

if (hour>=19 and hour<=23) or (hour>=0 or hour<=4):
  print("It is Dark outside")
else:
  print("it is Day outside")

Tue Oct 26 04:15:56 2021
It is Dark outside

In [28]:
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
R = 6373.0

# Lat,Long for Gwalior
lat1 = radians(26.226150)
lon1 = radians(78.223010)

# Lat/long for Pune
lat2 = radians(18.520430)
lon2 = radians(73.856743)

dlon = lon2 - lon1
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c

print("Result:", round(distance,2))
print("Should be:", 1011, "km")

print("Some distance change might be there because of not exact lat and long")

Result: 967.39
Should be: 1011 km
Some distance change might be there because of not exact lat and long

In [5]:
print("Welcome to banking system")
print("\nPlease choose appropriate option:\nInput 1 for Cash Withdrawal\nInput 2 for Cash Credit\nInput 3 for Checking Balance\nInput 4 for Changing Paswword")
ch = input("Please enter your choice: ")

if ch == "1":
  print("You have withdrwan Rs.1000")
elif ch == "2":
  print("You have credited Rs.1000")
elif ch == "3":
  print("Your current balance is Rs.1,00,000")
elif ch == "4":
  print("Your password has been changed.")
else:
  print("Please choose appropriate option.")

Welcome to banking system

Please choose appropriate option:
Input 1 for Cash Withdrawal
Input 2 for Cash Credit
Input 3 for Checking Balance
Input 4 for Changing Paswword
Please enter your choice: 2
You have credited Rs.1000

In [8]:
for i in range(2000, 3201):
  if i%7 == 0 and i%5 != 0:
    print(i, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [9]:
def factorial(n):
  if n == 0:
    return 1
  else: return n*factorial(n-1)

print(factorial(6))

720

In [23]:
D = list(map(int, input().split(",")))

C = 50
H = 30
ans = ""
for i in D:
  Q = ((2*C*i)//H)**0.5
  ans += str(int(Q)) + ","

print(ans[:len(ans)-1])

100,150,180
18,22,24

In [34]:
x = int(input("Enter number of coloumns: "))
y = int(input("Enter number of rows: "))
ans = [[i*j for i in range(x)] for j in range(y)]
print(ans)

Enter number of coloumns: 5
Enter number of rows: 3
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [36]:
words = input("Please enter comma sepearted words: ").split(",")
words.sort()
print(",".join(words))

Please enter comma sepearted words: without,hello,bag,world
bag,hello,without,world